# https://docs.npmjs.com/trusted-publishers
name: Publish Package to NPM

permissions:
  id-token: write # Required for OIDC
  contents: read

on:
  release:
    types: [published]
jobs:
  build:
    runs-on: ubuntu-latest
    environment: publish
    permissions:
      contents: read
      id-token: write
      packages: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          registry-url: "https://registry.npmjs.com"
      - name: Update NPM
        run: |
          npm i -g npm@latest
          npm --version
      - run: npm ci
      - run: npm run build
      - run: npm publish --provenance
